/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Bibliothek]    Script Date: 10.04.2018 20:21:33 ******/
CREATE DATABASE [Bibliothek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bibliothek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Bibliothek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bibliothek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Bibliothek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bibliothek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bibliothek]
GO
USE [Bibliothek]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [uniqueidentifier] NOT NULL,
	[Header] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](150) NULL,
	[Phone] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [smallint] NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [uniqueidentifier] NOT NULL,
	[CustomerID] [uniqueidentifier] NOT NULL,
	[ShipAddress] [nvarchar](max) NULL,
	[Confirmed] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[UnitsInStock] [smallint] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[Quantity] [nvarchar](max) NOT NULL,
	[Director] [nvarchar](30) NULL,
	[Star] [nvarchar](100) NULL,
	[Artist] [nvarchar](30) NULL,
	[TradeMark] [nvarchar](30) NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.04.2018 20:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](30) NULL,
	[CreatedUserName] [nvarchar](30) NULL,
	[CreatedIP] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](30) NULL,
	[ModifiedIP] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](30) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([ID], [Name], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'08c6fbb8-cc35-e811-9955-1c4d70f6b372', N'Kitap', CAST(N'2018-04-01T19:50:03.620' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Categories] ([ID], [Name], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'92c51701-cd35-e811-9955-1c4d70f6b372', N'Film', CAST(N'2018-04-01T19:52:04.737' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Categories] ([ID], [Name], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'1e7f5008-cd35-e811-9955-1c4d70f6b372', N'Müzik', CAST(N'2018-04-01T19:52:16.850' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Comments] ([ID], [Header], [Content], [ProductID], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'dba1cac2-2e38-e811-9955-1c4d70f6b372', N'test başlık', N'test içerik', N'fa4dd6e7-6937-e811-9955-1c4d70f6b372', CAST(N'2018-04-04T20:36:52.857' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Customers] ([ID], [Name], [LastName], [Email], [Password], [Address], [Phone], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'f89a8e3e-ab36-e811-9955-1c4d70f6b372', N'Birol', N'Gökkaya', N'birolgokkaya@gmail.com', N'7348', N'Esenyurt', N'542', CAST(N'2018-04-02T22:22:55.997' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', CAST(N'2018-04-02T22:23:17.140' AS DateTime), N'LAPTOP-5NLQV687', N'192.168.0.28', N'LAPTOP-5NLQV687\bgokk', 1)
INSERT [dbo].[Customers] ([ID], [Name], [LastName], [Email], [Password], [Address], [Phone], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'9bc8f1bd-813a-e811-9955-1c4d70f6b372', N'Bora', N'Gökkaya', N'boragokkaya@gmail.com', N'1111', NULL, NULL, CAST(N'2018-04-07T19:35:55.343' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.29', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[OrderDetails] ([ID], [Price], [Quantity], [ProductID], [OrderID], [Address], [Phone], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'1af06038-3038-e811-9955-1c4d70f6b372', CAST(11.00 AS Decimal(18, 2)), 1, N'91b0d324-6937-e811-9955-1c4d70f6b372', N'19f06038-3038-e811-9955-1c4d70f6b372', NULL, NULL, CAST(N'2018-04-04T20:47:19.660' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[OrderDetails] ([ID], [Price], [Quantity], [ProductID], [OrderID], [Address], [Phone], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'36a2d06e-3e38-e811-9955-1c4d70f6b372', CAST(145.90 AS Decimal(18, 2)), 1, N'b3f66650-7037-e811-9955-1c4d70f6b372', N'35a2d06e-3e38-e811-9955-1c4d70f6b372', N'Esenyurt', N'542', CAST(N'2018-04-04T22:29:03.893' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[OrderDetails] ([ID], [Price], [Quantity], [ProductID], [OrderID], [Address], [Phone], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'c67d1f2e-4238-e811-9955-1c4d70f6b372', CAST(11.80 AS Decimal(18, 2)), 31, N'b881ec86-6a37-e811-9955-1c4d70f6b372', N'c57d1f2e-4238-e811-9955-1c4d70f6b372', N'Esenyurt', N'542', CAST(N'2018-04-04T22:55:53.377' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Orders] ([ID], [CustomerID], [ShipAddress], [Confirmed], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'19f06038-3038-e811-9955-1c4d70f6b372', N'f89a8e3e-ab36-e811-9955-1c4d70f6b372', N'Esenyurt', 0, CAST(N'2018-04-04T20:47:19.660' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Orders] ([ID], [CustomerID], [ShipAddress], [Confirmed], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'35a2d06e-3e38-e811-9955-1c4d70f6b372', N'f89a8e3e-ab36-e811-9955-1c4d70f6b372', N'Esenyurt', 0, CAST(N'2018-04-04T22:29:03.893' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Orders] ([ID], [CustomerID], [ShipAddress], [Confirmed], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'c57d1f2e-4238-e811-9955-1c4d70f6b372', N'f89a8e3e-ab36-e811-9955-1c4d70f6b372', N'Esenyurt', 0, CAST(N'2018-04-04T22:55:53.377' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.28', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Users] ([ID], [Name], [LastName], [Username], [Password], [Role], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'744e15fa-c035-e811-9955-1c4d70f6b372', N'Birol', N'Gökkaya', N'bgokkaya', N'7348', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Users] ([ID], [Name], [LastName], [Username], [Password], [Role], [CreatedDate], [CreatedComputerName], [CreatedUserName], [CreatedIP], [ModifiedDate], [ModifiedComputerName], [ModifiedIP], [ModifiedUserName], [Status]) VALUES (N'43901221-463a-e811-9955-1c4d70f6b372', N'Bora', N'Gökkaya', N'boragokkaya', N'1111', 2, CAST(N'2018-04-07T12:29:12.030' AS DateTime), N'LAPTOP-5NLQV687', N'LAPTOP-5NLQV687\bgokk', N'192.168.0.29', NULL, NULL, NULL, NULL, 1)
/****** Object:  Index [IX_ProductID]    Script Date: 10.04.2018 20:21:33 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[Comments]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 10.04.2018 20:21:33 ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 10.04.2018 20:21:33 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 10.04.2018 20:21:33 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 10.04.2018 20:21:33 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
USE [master]
GO
